    <div>
        <h1 style="text-align: center;">AWS Certifications and Badges</h1>
        <div class="row mb-5" style="overflow-x: hidden; white-space: nowrap;" id="aws-certifications-container">
            <!-- AWS Knowledge: Cloud Essentials Badge -->
            <div class="cert-container" style="background-color: #f0f0f0; width: 50vw; min-width: 300px; padding-right: 20px; display: inline-block;">
                <div style="display: flex; justify-content: space-between;">
                    <div style="flex: 3;">
                        <h1 class="display-4" style="color: navy;">AWS Knowledge: Cloud Essentials Badge</h1>
                        <p class="lead">Skills achieved</p>
                    </div>
                    <div style="flex: 1; text-align: center;">
                        <a href="https://www.credly.com/badges/af2837e6-e61b-487b-b0a4-00f0ab3524e3/public_url" target="_blank">
                            <img src="{{ url_for('static', filename='images/aws/aws-kca.png') }}" class="img-fluid" alt="AWS KCA" width="200">
                        </a>
                    </div>
                </div>
            </div>
        
            <!-- AWS Certified Solutions Architect – Associate -->
            <div class="cert-container" style="background-color: #e9f5fb; width: 50vw; min-width: 300px; padding-left: 20px; display: inline-block;">
                <div style="display: flex; justify-content: space-between;">
                    <div style="flex: 3;">
                        <h1 class="display-4" style="color: navy;">AWS Certified Solutions Architect – Associate</h1>
                        <p class="lead">Skills achieved</p>
                    </div>
                    <div style="flex: 1; text-align: center;">
                        <a href="https://www.credly.com/badges/584d1905-4e3d-491a-8a8c-19511ff33dd7/public_url" target="_blank">
                            <img src="{{ url_for('static', filename='images/aws/aws-saa.png') }}" class="img-fluid" alt="AWS SAA" width="200">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    


<script>
    // Function to continuously scroll horizontally
    function autoScroll() {
        var container = document.getElementById('aws-certifications-container');
        var scrollAmount = 1; // Adjust scrolling speed as needed
        var scrollWidth = container.scrollWidth;
        var clientWidth = container.clientWidth;

        if (container.scrollLeft >= (scrollWidth - clientWidth)) {
            container.scrollLeft = 0; // Reset to start if reached end
        } else {
            container.scrollLeft += scrollAmount; // Scroll right
        }
    }

    // Call autoScroll function every 50 milliseconds
    setInterval(autoScroll, 50); // Adjust interval for smoother or faster scrolling
</script>
