<div class="section-container">
    <h2 class="section-title">Education</h2>
    <div class="education-item">
        <h3><i class="bi bi-mortarboard"></i> B.E (EEE) Thiagarajar College of Engineering</h3>
        <p><i class="bi bi-calendar"></i> Apr’23 | CGPA: 8.99</p>
    </div>
    <div class="education-item">
        <h3><i class="bi bi-mortarboard"></i> HSC (Computer Science Stream) - Tamilnadu State Board</h3>
        <p><i class="bi bi-calendar"></i> Mar’19 | Score: 554/600</p>
    </div>
    <div class="education-item">
        <h3><i class="bi bi-mortarboard"></i> SSLC - Tamilnadu State Board</h3>
        <p><i class="bi bi-calendar"></i> Mar’17 | Score: 488/500</p>
    </div>
</div>


<div class="section-container work-experience-section">
    <h2 class="section-title">Work Experience</h2>
    <div class="row work-experience-item">
        <div class="col-md-3 company-info">
            <h1>Trimble, Chennai</h1>
            <h3>Associate SDET</h3>
            <p>July 2023 - Present</p>
        </div>
        <div class="col-md-9 job-details">
            <ul>
                <p><i class="bi bi-gear"></i> Designed and developed a custom API automation testing framework using Python, along with UI using Flask framework.</p>
                <p><i class="bi bi-arrow-repeat"></i> Test scripts are triggered automatically via CI/CD pipepne and the scripts are hosted in a serverless ECS Fargate cluster.</p>
                <p><i class="bi bi-box-arrow-right"></i> Migrated existing test scripts from Postman to the newly developed automation framework.</p>
            </ul>
            <p><strong>Tools and Technologies used:</strong></p>
            <ul>
                <p><i class="bi bi-code"></i> Flask</p>
                <p><i class="bi bi-box-arrow-right"></i> Requests</p>
                <p><i class="bi bi-globe"></i> HTML, CSS, Bootstrap 5</p>
                <p><i class="bi bi-box-seam"></i> Docker</p>
                <p><i class="bi bi-cloud"></i> AWS Fargate</p>
            </ul>
        </div>
    </div>
    <div class="row work-experience-item">
        <div class="col-md-3 company-info">
            <h1>Trimble, Chennai</h1>
            <h3>Graduate Technical Intern</h3>
            <p>Jan 2023 - June 2023</p>
        </div>
        <div class="col-md-9 job-details">
            <ul>
                <p><i class="bi bi-cloud-upload"></i> Worked on building REST API backend systems.</p>
                <p><i class="bi bi-layers"></i> Tech stack involved cloud native serverless backend system in AWS with AWS Lambda and AWS DynamoDB.</p>
            </ul>
        </div>
    </div>
</div>


<style>

.section-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 50px;
}

.section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.education-item,
.work-experience-item {
    margin-bottom: 20px;
}

.education-item h3,
.work-experience-item h3 {
    color: #343a40;
}

.education-item p,
.work-experience-item p {
    margin: 0;
    color: #6c757d;
}

.work-experience-item ul {
    list-style-type: disc;
    padding-left: 20px;
}

.work-experience-item ul li {
    color: #495057;
}
</style>
