<div class="row mb-5">
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 3;">
            <h1 class="display-4" style="color: navy;font-size: 50px;">Mohamed Kalandar Sulaiman</h1>
            <h2 class="display-4" style="color: rgb(210, 126, 0);font-size: 35px;">Backend Developer</h2>
            <p class="lead">Passionate software engineer with consistent efforts in learning new stuffs. 
                            I am interested in working in distributed systems. 
                            I actively learn new technologies and apply them in my work as well as my personal projects.
                            Primarily a Python developer but would prefer to be language agnostic. 
                            Love backend engineering with essential frontend skills.</p>
        </div>
        <div style="flex: 1; text-align: center;">
            <img src="{{ url_for('static', filename='images/icons/dp.jpg') }}" class="img-fluid rounded-image" alt="My Photo" width="250">
        </div>
    </div>
</div>
