<div class="row mb-5">
    <div class="col-md-4">
        <h2 class="section-heading">Technical Skills</h2>
        <div class="skill-list">
            <span class="badge bg-primary mb-2">Git & Github</span>
            <span class="badge bg-primary mb-2">REST API Design and Development</span>
            <span class="badge bg-primary mb-2">AWS</span>
            <span class="badge bg-primary mb-2">Docker</span>
            <span class="badge bg-primary mb-2">Kubernetes</span>
            <span class="badge bg-primary mb-2">Postman</span>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="section-heading">Knowledge Base</h2>
        <div class="skill-list">
            <span class="badge bg-secondary mb-2">High Level System Design</span>
            <span class="badge bg-secondary mb-2">Data Structures and Algorithms</span>
            <span class="badge bg-secondary mb-2">OAuth 2.0</span>
            <span class="badge bg-secondary mb-2">OOPS (Object-Oriented Programming)</span>
            <span class="badge bg-secondary mb-2">Design Patterns</span>
            <span class="badge bg-secondary mb-2">SOLID Principles</span>
            <span class="badge bg-secondary mb-2">Agile Methodologies</span>
            <span class="badge bg-secondary mb-2">Asynchronous Programming</span>
            <span class="badge bg-secondary mb-2">GRPC</span>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="section-heading">Frameworks & Tools</h2>
        <div class="skill-list">
            <span class="badge bg-info mb-2">Flask</span>
            <span class="badge bg-info mb-2">Django Rest Framework</span>
            <span class="badge bg-info mb-2">Fast API</span>
        </div>
        <h2 class="section-heading">Database</h2>
        <div class="skill-list">
            <span class="badge bg-success mb-2">MongoDB</span>
            <span class="badge bg-success mb-2">Cassandra</span>
            <span class="badge bg-success mb-2">Redis</span>
        </div>
        <h2 class="section-heading">Areas of Interest</h2>
        <div class="skill-list">
            <span class="badge bg-warning mb-2">Database Internals</span>
            <span class="badge bg-warning mb-2">Distributed Systems</span>
            <span class="badge bg-warning mb-2">Microservices Architecture</span>
        </div>
        <h2 class="section-heading">Programming Languages</h2>
        <div class="skill-list">
            <span class="badge bg-danger mb-2">Python</span>
            <span class="badge bg-danger mb-2">SQL</span>
            <span class="badge bg-danger mb-2">HTML, CSS, JavaScript</span>
        </div>
    </div>
</div>


<style>
    .badge {
        padding: 8px 12px;
        font-size: 14px;
        margin-right: 5px; /* Adjust margin between badges */
        margin-bottom: 10px; /* Adjust margin between badges */
        border-radius: 10px; /* Add rounded corners */
        display: inline-block; /* Ensure badges wrap properly */
    }
    
    .badge.bg-primary {
        background-color: #89bef6;
        color: white;
    }
    
    .badge.bg-secondary {
        background-color: #6c757d;
        color: white;
    }
    
    .badge.bg-info {
        background-color: #17a2b8;
        color: white;
    }
    
    .badge.bg-success {
        background-color: #28a745;
        color: white;
    }
    
    .badge.bg-warning {
        background-color: #ffc107;
        color: black;
    }
    
    .badge.bg-danger {
        background-color: #dc3545;
        color: white;
    }
    
    .section-heading {
        font-size: 24px;
        margin-bottom: 15px;
        color: #0066f4;
        font-weight: bold;
    }
</style>
