<div class="row mb-5">
    <div class="col-md-6 text-center d-flex flex-column align-items-center justify-content-center">
        <a href="https://www.linkedin.com/in/mohamed-kalandar-sulaiman/" target="_blank"><img src="{{ url_for('static', filename='images/icons/linkedin.png') }}" class="img-fluid " alt="LinkedIn" width="50"></a>
        <a href="https://mypersonalblog-mks.blogspot.com/" target="_blank"><img src="{{ url_for('static', filename='images/icons/blogspot.png') }}" class="img-fluid " alt="Blogspot" width="50"></a>
        <a href="https://leetcode.com/u/Mohamed_Sulaiman/" target="_blank"><img src="{{ url_for('static', filename='images/icons/leetcode.png') }}" class="img-fluid rounded-circle mb-3" alt="LeetCode" width="50"></a>


        
    </div>
</div>
